{% extends "base.html" %}

{% block content %}
<h1>Аварийный доступ</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.ast_id.label }}<br>
        {{ form.ast_id(class="form-control") }}<br>
        {% for error in form.ast_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.ast_pas.label }}<br>
        {{ form.ast_pas(class="form-control", type="password") }}<br>
        {% for error in form.ast_pas.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

        <p>
        {{ form.cap_id.label }}<br>
        {{ form.cap_id(class="form-control") }}<br>
        {% for error in form.cap_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.cap_pas.label }}<br>
        {{ form.cap_pas(class="form-control", type="password") }}<br>
        {% for error in form.cap_pas.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}